<ion-view view-title="Developer">
  <ion-content class="padding">
    <div class="list card">
    
      <div class="item item-avatar">
        <img src="img/rabah.png">
        <h2>Rabah ABDENNEBI</h2>
      </div>
      <div class="item item-body">
        <h3>
          Software engineer / Web developer
        </h3>
      </div>
      
    </div>
    <div class="list card">
    
      <div class="item item-avatar">
        <img src="img/hicham.png">
        <h2>Hicham ELABBASSI</h2>
      </div>
      <div class="item item-body">
        <h3>
          Software engineer / Web developer
        </h3>
      </div>
      
    </div>
  </ion-content>
</ion-view>